/* src/index.css */

/* 1. Directivas de Tailwind CSS (INDISPENSABLES) */
@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2. Manual de Estilos Corporativos (Variables Globales) */
:root {
  --color-primary: #00adee;      /* Celeste / Cyan */
  --color-secondary: #1b75bb;    /* Azul */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray-light: #f4f6f9;
  --color-gray-text: #666666;
  
  /* Tipografías del Manual */
  --font-title: 'Geometric 231 Heavy BT', 'Century Gothic', sans-serif;
  --font-bold: 'Century Gothic Bold', sans-serif;
  --font-regular: 'Century Gothic', 'Century Gothic Regular', sans-serif;
}

/* 3. Estilos base y reseteo */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-gray-light);
  font-family: var(--font-regular);
  color: var(--color-black);
}

/* Reglas tipográficas globales */
h1, h2, h3 {
  font-family: var(--font-title);
}

label, button {
  font-family: var(--font-bold);
}